/*Fonts*/

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-black-hover: rgba(0,0,0,0.6);
  --basic-black-active: rgba(0,0,0,0.3);
  --basic-black-modal: rgba(0,0,0,0.4);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;

  --basic-filter-grey: #DCDCDC;
  --basic-filter-disabled: #A6A6A6;
  --bacis-range-grey: #C4C4C4;
  --basic-product-grey: rgba(238, 238, 238, 0.7);

  --basic-pagination-grey-light: #EBEBEB;
  --basic-pagination-grey: #D9D9D9;

  --modal-grey-light: #F2F2F2;
  --modal-grey: #EAEAEA;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #f7e296;

  --special-green: #91C92F;
  --pink-light: #F6DADA;
}

/*Font-family settings*/

.page-body,
.contact-us-button,
.feedback-submit-button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.promo-slide-features-table,
.product-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
}

.feedback-form-field {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
}

.personal-menu-and-search,
.sub-menu-list,
.promo-slide-description,
.service-slide-description,
.about-text,
.contacts-text,
.personal-data-list,
.footer-personal-data-list,
.address,
.phone,
.bread-crumbs-list,
.color-field-list,
.bluetooth-field-list,
.sort-type-button-list,
.add-to-compare-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

/*Global*/

img {
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: var(--basic-black);
}

button,
input,
textarea {
  outline: none;
}

.personal-data-list,
.footer-personal-data-list,
.main-menu-list,.sub-menu-list,
.promo-slide-list,
.promo-slide-button-list,
.catalog-parts-list,
.service-slide-button-list,
.service-slide-list,
.brand-list,
.transport-company-list,
.footer-menu-list,
.social-network-list,
.bread-crumbs-list,
.color-field-list,
.bluetooth-field-list,
.sort-type-button-list,
.sort-direction-button-list,
.product-list,
.page-link-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Page layout*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

.page-body {
  padding: 0;
  color: var(--basic-black);
  background-color: #f7eadb; /*debug-background*/

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content min-content;
}

.sub-menu {
  grid-row: 2/3;
  grid-column: 1/-1;
  order: 1;

  padding-left: 60px;
  padding-right: 60px;

  background-color: var(--special-yellow-light);

  visibility: hidden;
}

.main-content {
  grid-row: 2/4;
  grid-column: 1/-1;
}

/*Header layout*/

.main-header .white-block {
  background-color: var(--basic-white);
  width: 100%;
  height: 40px;
}

.main-navigation {
  display: grid;
  grid-template-rows: 20px 20px 15px min-content min-content;
}

.main-navigation .white-block {
  grid-row: 1/3;
  grid-column: 1/-1;
}

.logo-header {
  grid-row: 2/4;
  grid-column: 1/-1;
  padding-left: 60px;
}

.personal-menu-and-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.main-menu {
  padding-left: 60px;
  padding-right: 60px;
}

.main-menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*Header*/

.link .logo-header-image:hover,
.link .logo-header-image:focus {
  opacity: 0.6;
}

.link .logo-header-image:active {
  opacity: 0.3;
}

.main-header {
  background-color: var(--special-yellow-light);
}

/*Search form in header*/

.search-field {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;

  background-color: transparent;
  border: none;
}

.search-field::placeholder {
  color: var(--basic-black);
}

.search-field:hover {
  opacity: 0.6;
}

.search-field:focus {
  opacity: 1;
  border-bottom: 2px solid var(--basic-black);
}

.search-button {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  width: 84px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid var(--basic-black);
  padding: 13px 15px;
}

.search-button:hover,
.search-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active .search-button-text {
  opacity: 0.3;
}

/*Personal menu in header*/

.log-in,
.user-name,
.compare,
.cart {
  font-size: 15px;
  line-height: 20px;
}

.log-in:hover,
.log-in:focus,
.user-name:hover,
.user-name:focus,
.compare:hover,
.compare:focus,
.cart:hover,
.cart:focus{
  opacity: 0.6;
}

.log-in:active,
.user-name:active,
.compare:active,
.cart:active {
  opacity: 0.3;
}

.log-out-button {
  font-size: 15px;
  line-height: 20px;
  font-weight: inherit;
  color: inherit;
  opacity: 0.3;
  border: none;
  background: transparent;
  padding: inherit;
}

.log-out-button:hover,
.log-out-button:focus {
  opacity: 0.6;
}

.log-out-button:active {
  opacity: 1;
}

/*Main and sub menu in header*/

.main-menu-item > a {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sub-menu-item {
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
}

.main-menu-list .link:hover,
.main-menu-list .link:focus {
  opacity: 0.6;
}

.main-menu-list .link:active {
  opacity: 0.3;
}

/*Promo slider layout*/

.promo-slide-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  padding-left: 60px;
  padding-right: 60px;
}

/*Promo slider*/

.promo-slide-number {
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  margin: 0;
}

.promo-slide-slogan {
  font-size: 47px;
  line-height: 58px;
  margin: 0;
}

.promo-slide-description {
  font-size: 15px;
  line-height: 20px;
}

.promo-slide-details-link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.promo-slide-details-link:hover,
.promo-slide-details-link:focus {
  /*background settings*/
}

.promo-slide-details-link:active .promo-slide-link-text {
  color: var(--basic-black-active);
}

.promo-slide-features-table th {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.promo-slide-features-table td {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

/*Catalog overview layout*/

.catalog-parts-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;

  padding-top: 20px;
  padding-bottom: 20px;
}

.catalog-parts-item a {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 38px;
}

.catalog-parts-image-block {
  grid-row: 1/2;
}

/*Catalog overview*/

.catalog-parts-item h3 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 0;
}

.catalog-parts-item:active h3 {
  opacity: 0.3;
}

.catalog-parts-image-block {
  display: grid;

  width: 160px;
  height: 160px;
  background-color: var(--special-yellow-light);
}

.catalog-part-image {
  justify-self: center;
  align-self: center;
}

/*Services slider layout*/

.services-slider {
  display: grid;
  grid-template-rows: auto auto;
}

.services-slider .background-block {
  grid-row: 1/3;
  grid-column: 1/-1;
}

.services-slider .content-block {
  grid-row: 1/3;
  grid-column: 1/-1;
}

.services-slider .white-block {
  height: 115px;
  background-color: var(--basic-white);
}

.services-slider .lightgray-block {
  height: 288px;
  background-color: var(--basic-grey-light);
}

.services-slider .content-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.service-slide-item {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 86px;
}

/*Services slider*/

.service-slide-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
  width: 277px;
  height: 40px;
  border: none;
  padding: 9px 136px 9px 19px;
}

.service-slide-button:hover,
.service-slide-button:focus {
  /*background settings*/
}

.service-slide-button:active,
.service-slide-button.selected {
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
  background-image: none;
}

.service-slide-name {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.service-slide-description {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/*Brands layout*/

.brand-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;

  padding-top: 90px;
}

/*About and contacts layout*/

.about-and-contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

/*About and contacts*/

.about-and-contacts h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.about-text,
.contacts-text {
  font-size: 15px;
  line-height: 28px;
}

.transport-company-item {
  font-size: 16px;
  line-height: 28px;
}

.about-details-link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.about-details-link:hover,
.about-details-link:focus {
  /*background settings*/
}

.about-details-link:active .about-details-link-text {
  color: var(--basic-black-active);
}

.contact-us-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: inherit;
}

.contact-us-button:hover,
.contact-us-button:focus {
  /*background settings*/
}

.contact-us-button:active {
  color: var(--basic-black-active);
}

/*Footer layout*/

.main-footer {
  background-color: var(--basic-dark);
  padding-top: 46px;
}

.footer-personal-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.footer-info {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
}

.our-social-networks {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.social-network-list {
  grid-column: 2/3;
}

.html-academy-logo {
  grid-column: 3/4;
  justify-self: right;
}

/*Footer*/

.link .logo-footer-image:hover,
.link .logo-footer-image:focus,
.html-academy-logo-image:hover,
.html-academy-logo-image:focus {
  opacity: 0.6;
}

.link .logo-footer-image:active,
.html-academy-logo-image:active {
  opacity: 0.3;
}

/*Personal menu in footer*/

.main-footer .log-in,
.main-footer .user-name,
.main-footer .compare,
.main-footer .cart {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  opacity: 0.7;
}

.main-footer .log-in:hover,
.main-footer .log-in:focus,
.main-footer .user-name:hover,
.main-footer .user-name:focus,
.main-footer .compare:hover,
.main-footer .compare:focus,
.main-footer .cart:hover,
.main-footer .cart:focus {
  opacity: 1;
}

.main-footer .log-in:active,
.main-footer .user-name:active,
.main-footer .compare:active,
.main-footer .cart:active {
  opacity: 0.3;
}

.footer-log-out-button {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.7;
  font-weight: inherit;
  color: var(--basic-white);
  border: none;
  background: transparent;
  padding: inherit;
}

.footer-log-out-button:hover,
.footer-log-out-button:focus {
  opacity: 1;
}

.footer-log-out-button:active {
  opacity: 0.3;
}

/*Footer info and footer menu*/

.address,
.phone {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-white);
}

.footer-menu-item a {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--basic-white);
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
  opacity: 0.6;
}

.footer-menu-item a:active {
  opacity: 0.3;
}

/*Feedback form layout*/

.modal {
  justify-self: center;
}

.modal form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  column-gap: 40px;

  box-sizing: border-box;
  width: 960px;
  height: 550px;
  padding: 92px 100px 69px;
  background-color: var(--basic-white);
}

.message-field-block {
  grid-column: 1/-1;
}

.name-field-block,
.e-mail-field-block,
.message-field-block {
  display: grid;
  grid-template-rows: min-content min-content;
}

/*Feedback form*/

.modal p {
  margin: 0;
}

.feedback-form-label {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;

  pointer-events: none;
}

.feedback-form-field {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-modal);
  background-color: var(--modal-grey-light);
  border: none;

  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 16px 20px 15px;
  margin-bottom: 32px;
}

.textarea-field {
  width: 760px;
  height: 167px;
  margin-bottom: 54px;
  resize: none;
}

.feedback-form-field::placeholder {
  color: var(--basic-black-modal);
}

.feedback-form-field:hover {
  background-color: var(--modal-grey);
}

.feedback-form-field:focus {
  color: var(--basic-dark);
  background-color: transparent;
  border: 2px solid var(--special-yellow-light);
  padding: 14px 18px 13px;
}

.feedback-submit-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  box-sizing: border-box;
  width: 200px;
  height: 22px;
  padding: 0;
}

.feedback-submit-button:hover,
.feedback-submit-button:focus {
  /*background settings*/
}

.feedback-submit-button:active {
  color: var(--basic-black-active);
}

/*Internal page title and bread crumbs layout*/

.internal-page-title {
  margin-bottom: 30px;
  padding-top: 44px;
  padding-left: 60px;
}

.bread-crumbs-list {
  margin-bottom: 50px;
  padding-left: 60px;
}

/*Internal page title and bread crumbs*/

.internal-page-title {
  font-size: 47px;
  line-height: 58px;
}

.bread-crumbs-link {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.bread-crumbs-link:hover,
.bread-crumbs-link:focus {
  opacity: 0.6;
}

.bread-crumbs-link:active {
  opacity: 0.1;
}

/*Main content zone layout*/

.main-content-zone {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: auto auto;
}

.main-content-zone p {
  margin: 0;
}

.filter-title-left-space {
  background-color: var(--basic-filter-grey);
}

.filter-panel-left-space {
  grid-column: 1/2;
  grid-row: 2/3;

  background-color: var(--basic-grey-light);
}

.sort-panel-right-space {
  grid-column: 4/5;
  grid-row: 1/2;

  background-color: var(--basic-grey-light);
}

.main-product-zone-right-space {
  grid-column: 4/5;
  grid-row: 2/3;

  background-color: var(--basic-white);
}
.filter-title {
  grid-column: 2/3;
  grid-row: 1/2;

  padding-left: 60px;

  background-color: var(--basic-filter-grey);
}

.filter-panel {
  grid-column: 2/3;
  grid-row: 2/3;

  width: 200px;
  padding: 69px 68px 38px 60px;

  background-color: var(--basic-grey-light);
}

.sort-panel {
  grid-column: 3/4;
  grid-row: 1/2;

  padding-left: 72px;

  background-color: var(--basic-grey-light);
}

.main-product-zone {
  grid-column: 3/4;
  grid-row: 2/3;

  width: 760px;
  padding: 69px 0 78px 72px;
  background-color: var(--basic-white);
}

/*Filter panel layout*/



/*Filter panel*/

.filter-title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.fieldset-legend {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.color-field-item,
.bluetooth-field-item {
  font-size: 14px;
  line-height: 19px;
}

.color-field-item:hover,
.color-field-item:focus,
.bluetooth-field-item:hover,
.bluetooth-field-item:focus {
  /*symbol settings*/
}

.color-field-item:active,
.bluetooth-field-item:active {
  /*symbol settings*/
}

.color-field-item.disabled,
.bluetooth-field-item.disabled {
  color: var(--basic-filter-disabled);
}

.filter-submit-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: inherit;
}

.filter-submit-button:hover,
.filter-submit-button:focus {
  /*background settings*/
}

.filter-submit-button:active {
  color: var(--basic-black-active);
}

/*Sorting panel layout*/



/*Sorting panel*/

.sort-title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-type-button-item button {
  font-weight: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 19px;
  background-color: transparent;
  border: none;
  padding: inherit;
  opacity: 0.3;
}

.sort-type-button-item.checked button {
  opacity: 1;
}

.sort-type-button-item button:hover,
.sort-type-button-item button:focus {
  opacity: 0.6;
}

.sort-type-button-item button:active {
  opacity: 1;
}

/*Product list section layout*/

.product-list-section {
  margin-bottom: 40px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

.product-item {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 30px;
}

.product-image-block {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
}

.product-image {
  grid-row: 1/-1;
  grid-column: 1/-1;

  width: 360px;
  height: 380px;
}

.new-product-label {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.add-to-cart-button {
  grid-row: 2/3;
  grid-column: 1/-1;

  width: 200px;
  height: 40px;

  justify-self: center;
}

.add-to-compare-button {
  grid-row: 3/4;
  grid-column: 1/-1;

  width: 170px;
  height: 18px;

  justify-self: center;
}

.product-description-block {
  display: grid;
  grid-template-columns: auto auto;
}

.product-description-block h3 {
  width: 270px;
  height: 44px;
  margin: 0;
}

.product-price {
  box-sizing: border-box;
  width: 90px;
  height: 44px;
  padding-top: 3px;
  text-align: right;
}

/*Product list section*/

.add-to-cart-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: inherit;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
  /*background settings*/
}

.add-to-cart-button:active {
  color: var(--basic-black-active);
}

.add-to-compare-button {
  color: inherit;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  padding: inherit;
  opacity: 0.5;
}

.add-to-compare-button:hover,
.add-to-compare-button:focus {
  opacity: 1;
}

.add-to-compare-button:active {
  opacity: 0.2;
}

.product-name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-price {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/*Pagination*/

.pagination-panel {
  background-color: var(--basic-pagination-grey-light);
}

.pagination-panel a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.page-link {
  opacity: 0.3;
}

.page-link:hover,
.page-link:focus {
  opacity: 0.6;
}

.page-link:active {
  opacity: 1;
}

.page-link.selected {
  opacity: 1;
}

.page-back-link,
.page-forward-link {
  display: inline-block;
  width: 120px;
  height: 70px;
}

.pagination-panel .page-back,
.pagination-panel .page-forward {
  text-align: center;
  margin: 25px auto;
}

.page-back-link:not(.disabled):hover,
.page-back-link:not(.disabled):focus,
.page-forward-link:not(.disabled):hover,
.page-forward-link:not(.disabled):focus {
  background-color: var(--basic-pagination-grey);
}

.page-back-link:not(.disabled):active,
.page-forward-link:not(.disabled):active {
  color: var(--basic-black-active);
}

