/*Fonts*/

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-black-hover: rgba(0,0,0,0.6);
  --basic-black-active: rgba(0,0,0,0.3);
  --basic-black-modal: rgba(0,0,0,0.4);
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;

  --basic-filter-grey: #DCDCDC;
  --basic-filter-disabled: #A6A6A6;
  --bacis-range-grey: #C4C4C4;
  --basic-product-grey: rgba(238, 238, 238, 0.7);

  --basic-pagination-grey-light: #EBEBEB;
  --basic-pagination-grey: #D9D9D9;

  --modal-grey-light: #F2F2F2;
  --modal-grey: #EAEAEA;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;

  --special-green: #91C92F;
  --pink-light: #F6DADA;
}

/*Font-family settings*/

.page-body,
.contact-us-button,
.feedback-submit-button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.promo-slide-features-table,
.product-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
}

.feedback-form-field {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
}

.personal-menu-and-search,
.sub-menu-list,
.promo-slide-description,
.service-slide-description,
.about-text,
.contacts-text,
.personal-data-list,
.footer-personal-data-list,
.address,
.phone,
.bread-crumbs-list,
.color-field-list,
.bluetooth-field-list,
.sort-type-button-list,
.add-to-compare-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

/*Global*/

.page {
  height: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page-body {
  min-width: 1160px;
  margin: 0 auto;
  padding: 0;
  color: var(--basic-black);
  background-color: #f7eadb; /*debug-background*/

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: var(--basic-black);
}

button,
input,
textarea {
  outline: none;
}

.personal-data-list,
.footer-personal-data-list,
.main-menu-list,.sub-menu-list,
.promo-slide-list,
.promo-slide-button-list,
.catalog-parts-list,
.service-slide-button-list,
.service-slide-list,
.brand-list,
.transport-company-list,
.footer-menu-list,
.social-network-list,
.bread-crumbs-list,
.color-field-list,
.bluetooth-field-list,
.sort-type-button-list,
.sort-direction-button-list,
.product-list,
.page-link-list {
  list-style: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Header*/

.link .logo-header-image:hover,
.link .logo-header-image:focus {
  opacity: 0.6;
}

.link .logo-header-image:active {
  opacity: 0.3;
}

/*Search form in header*/

.search-field {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;
  background-color: transparent;
  border: none;
}

.search-field::placeholder {
  color: var(--basic-black);
}

.search-field:hover {
  opacity: 0.6;
}

.search-field:focus {
  opacity: 1;
  border-bottom: 2px solid var(--basic-black);
}

.search-button {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  width: 84px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid var(--basic-black);
  padding: 13px 15px;
}

.search-button:hover,
.search-button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-button:active .search-button-text {
  opacity: 0.3;
}

/*Personal menu in header*/

.log-in,
.user-name,
.compare,
.cart {
  font-size: 15px;
  line-height: 20px;
}

.log-in:hover,
.log-in:focus,
.user-name:hover,
.user-name:focus,
.compare:hover,
.compare:focus,
.cart:hover,
.cart:focus{
  opacity: 0.6;
}

.log-in:active,
.user-name:active,
.compare:active,
.cart:active {
  opacity: 0.3;
}

.log-out-button {
  font-size: 15px;
  line-height: 20px;
  font-weight: inherit;
  color: inherit;
  opacity: 0.3;
  border: none;
  background: transparent;
  padding: inherit;
}

.log-out-button:hover,
.log-out-button:focus {
  opacity: 0.6;
}

.log-out-button:active {
  opacity: 1;
}

/*Main menu in header*/

.main-menu-item > a {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sub-menu-item {
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
}

.main-menu-list .link:hover,
.main-menu-list .link:focus {
  opacity: 0.6;
}

.main-menu-list .link:active {
  opacity: 0.3;
}

/*Promo slider on the main page*/

.promo-slide-number {
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  margin: 0;
}

.promo-slide-slogan {
  font-size: 47px;
  line-height: 58px;
  margin: 0;
}

.promo-slide-description {
  font-size: 15px;
  line-height: 20px;
}

.promo-slide-details-link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.promo-slide-details-link:hover,
.promo-slide-details-link:focus {
  /*background settings*/
}

.promo-slide-details-link:active .promo-slide-link-text {
  color: var(--basic-black-active);
}

.promo-slide-features-table th {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.promo-slide-features-table td {
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

/*Catalog overview on the main page*/

.catalog-parts-item h3 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-parts-item:active h3 {
  opacity: 0.3;
}

/*Services slider on the main page*/

.service-slide-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
  width: 277px;
  height: 40px;
  border: none;
  padding: 9px 136px 9px 19px;
}

.service-slide-button:hover,
.service-slide-button:focus {
  /*background settings*/
}

.service-slide-button:active,
.service-slide-button.selected {
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
  background-image: none;
}

.service-slide-name {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.service-slide-description {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/*About and contacts on the main page*/

.about-and-contacts h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
}

.about-text,
.contacts-text {
  font-size: 15px;
  line-height: 28px;
}

.transport-company-item {
  font-size: 16px;
  line-height: 28px;
}

.about-details-link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.about-details-link:hover,
.about-details-link:focus {
  /*background settings*/
}

.about-details-link:active .about-details-link-text {
  color: var(--basic-black-active);
}

.contact-us-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: inherit;
}

.contact-us-button:hover,
.contact-us-button:focus {
  /*background settings*/
}

.contact-us-button:active {
  color: var(--basic-black-active);
}

/*Footer*/

.link .logo-footer-image:hover,
.link .logo-footer-image:focus,
.html-academy-logo-image:hover,
.html-academy-logo-image:focus {
  opacity: 0.6;
}

.link .logo-footer-image:active,
.html-academy-logo-image:active {
  opacity: 0.3;
}

/*Personal menu in footer*/

.main-footer {
  background-color: var(--basic-dark);
}

.main-footer .log-in,
.main-footer .user-name,
.main-footer .compare,
.main-footer .cart {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  opacity: 0.7;
}

.main-footer .log-in:hover,
.main-footer .log-in:focus,
.main-footer .user-name:hover,
.main-footer .user-name:focus,
.main-footer .compare:hover,
.main-footer .compare:focus,
.main-footer .cart:hover,
.main-footer .cart:focus {
  opacity: 1;
}

.main-footer .log-in:active,
.main-footer .user-name:active,
.main-footer .compare:active,
.main-footer .cart:active {
  opacity: 0.3;
}

.footer-log-out-button {
  font-size: 15px;
  line-height: 20px;
  opacity: 0.7;
  font-weight: inherit;
  color: var(--basic-white);
  border: none;
  background: transparent;
  padding: inherit;
}

.footer-log-out-button:hover,
.footer-log-out-button:focus {
  opacity: 1;
}

.footer-log-out-button:active {
  opacity: 0.3;
}

/*Footer info and footer menu*/

.address,
.phone {
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
  color: var(--basic-white);
}

.footer-menu-item a {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--basic-white);
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
  opacity: 0.6;
}

.footer-menu-item a:active {
  opacity: 0.3;
}

/*Feedback form*/

.modal {
  background-color: var(--basic-white);
}

.feedback-form-label {
  font-size: 18px;
  line-height: 22px;
}

.feedback-form-field {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-modal);
  background-color: var(--modal-grey-light);
  border: none;
}

.feedback-form-field::placeholder {
  color: var(--basic-black-modal);
}

.feedback-form-field:hover {
  background-color: var(--modal-grey);
}

.feedback-form-field:focus {
  color: var(--basic-dark);
  background-color: transparent;
  border: 2px solid var(--special-yellow-light);
}

.feedback-submit-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: inherit;
}

.feedback-submit-button:hover,
.feedback-submit-button:focus {
  /*background settings*/
}

.feedback-submit-button:active {
  color: var(--basic-black-active);
}

/*Page title and bread crumbs on the internal page*/

.main-content h1 {
  font-size: 47px;
  line-height: 58px;
}

.bread-crumbs-link {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.bread-crumbs-link:hover,
.bread-crumbs-link:focus {
  opacity: 0.6;
}

.bread-crumbs-link:active {
  opacity: 0.1;
}

/*Filter panel on the catalog page*/

.filter-title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.fieldset-legend {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.color-field-item,
.bluetooth-field-item {
  font-size: 14px;
  line-height: 19px;
}

.color-field-item:hover,
.color-field-item:focus,
.bluetooth-field-item:hover,
.bluetooth-field-item:focus {
  /*symbol settings*/
}

.color-field-item:active,
.bluetooth-field-item:active {
  /*symbol settings*/
}

.color-field-item.disabled,
.bluetooth-field-item.disabled {
  color: var(--basic-filter-disabled);
}

.filter-submit-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: inherit;
}

.filter-submit-button:hover,
.filter-submit-button:focus {
  /*background settings*/
}

.filter-submit-button:active {
  color: var(--basic-black-active);
}

/*Sorting panel on the catalog page*/

.sort-title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-type-button-item button {
  font-weight: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 19px;
  background-color: transparent;
  border: none;
  padding: inherit;
  opacity: 0.3;
}

.sort-type-button-item.checked button {
  opacity: 1;
}

.sort-type-button-item button:hover,
.sort-type-button-item button:focus {
  opacity: 0.6;
}

.sort-type-button-item button:active {
  opacity: 1;
}

/*Product list section on the catalog page*/

.add-to-cart-button {
  font-weight: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: inherit;
}

.add-to-cart-button:hover,
.add-to-cart-button:focus {
  /*background settings*/
}

.add-to-cart-button:active {
  color: var(--basic-black-active);
}

.add-to-compare-button {
  color: inherit;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  padding: inherit;
  opacity: 0.5;
}

.add-to-compare-button:hover,
.add-to-compare-button:focus {
  opacity: 1;
}

.add-to-compare-button:active {
  opacity: 0.2;
}

.product-name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-price {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

/*Pagination*/

.pagination {
  background-color: var(--basic-pagination-grey-light);
}

.pagination a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.page-link {
  opacity: 0.3;
}

.page-link:hover,
.page-link:focus {
  opacity: 0.6;
}

.page-link:active {
  opacity: 1;
}

.page-link.selected {
  opacity: 1;
}

.page-back-link,
.page-forward-link {
  display: inline-block;
  width: 120px;
  height: 70px;
}

.page-back,
.page-forward {
  text-align: center;
  margin: 25px auto;
}

.page-back-link:not(.disabled):hover,
.page-back-link:not(.disabled):focus,
.page-forward-link:not(.disabled):hover,
.page-forward-link:not(.disabled):focus {
  background-color: var(--basic-pagination-grey);
}

.page-back-link:not(.disabled):active,
.page-forward-link:not(.disabled):active {
  color: var(--basic-black-active);
}

