/*Fonts*/

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/*Variables*/

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-white: #FFFFFF;

  --basic-filter-grey: #DCDCDC;
  --bacis-range-grey: #C4C4C4;
  --basic-product-grey: rgba(238, 238, 238, 0.7);

  --basic-pagination-grey-light: #EBEBEB;
  --basic-pagination-grey: #D9D9D9;

  --modal-grey-light: #F2F2F2;
  --modal-grey: #EAEAEA;

  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;

  --special-green: #91C92F;
  --pink-light: #F6DADA;
}

/*Font-family settings*/

.page-body,
.contact-us-button,
.submit-button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.promo-slide-features-table {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
}

.modal-field {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
}

.personal-menu-and-search,
.sub-menu-list,
.promo-slide-description,
.service-slide-description,
.about-text,
.contacts-text,
.personal-data-list,
.address,
.phone {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

/*Link settings*/

.link {
  text-decoration: none;
}

/*Main navigation*/

.personal-data-list,
.main-menu-list,
.sub-menu-list {
  list-style: none;
}
